body {
    margin: 0;
    font-family: Arial;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 140%;
}

div {
    box-sizing: border-box;
}

p.info {
    width: 600px;
    font-style: oblique;
    color: #444;
}

input, button, textarea {
    font-size: 100%;
}

textarea {
    width: 600px;
    height: 150px;
    margin: 5px 0px;
}

input[type="text"], input[type="password"] {
    width: 200px;
}

input.big {
    width: 600px;
    margin: 5px 0px;
}

.hidden {display: none;}
.right {float: right;}

#navbar {
    width: 100%;
    border-bottom: 1px solid grey;
    background: #ccf;
    padding: 10px;
}

a.menu-item {
    padding: 5px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

a.menu-item.selected {
    background: #eef;
}

a.menu-item:hover {
    background: white;
}

#keygen, #moderator-ui, #counter-ui, #voter-ui {
    margin-left: 40px;
    margin-top: 40px;
}

#mod-voter-list, #mod-ballot-distr, #mod-ballots-in {
    padding: 4px;
    border: 1px solid grey;
    height: 400px;
    width: 600px;
    overflow: auto;
}

#auth-form {
    margin-left: 100px;
    margin-top: 100px;
}

.error {
    color: red;
}

#error {
    float: left;
    color: red;
    padding: 10px;
    display: none;
}
