body {
    margin: 0;
    font-family: Arial;
}

div {
    box-sizing: border-box;
}

input, button {
    font-size: 100%;
}

.hidden {display: none;}
.right {float: right;}

#navbar {
    width: 100%;
    border-bottom: 1px solid grey;
    background: #ccf;
    padding: 10px;
}

#auth-form {
    margin-left: 100px;
    margin-top: 100px;
}

#error {
    color: red;
    padding: 10px;
}
